<style>
    #dark-chess-board {
            height: 400px;
            width: 800px;
            position: relative;
            margin: 200px auto 200px auto;
        }
</style>

<div id="dark-chess-board">
    <img id="chess-board-image" src="/image/DarkChessBoard.png" height="400" width="800" />

    @*Black chesses*@
    <img class="chess black advisor 1" src="/image/Chesses/BlackAdvisor.png"/>
    <img class="chess black advisor 2" src="/image/Chesses/BlackAdvisor.png" />
    <img class="chess black cannon 1" src="/image/Chesses/BlackCannon.png" />
    <img class="chess black cannon 2" src="/image/Chesses/BlackCannon.png" />
    <img class="chess black chariot 1" src="/image/Chesses/BlackChariot.png" />
    <img class="chess black chariot 2" src="/image/Chesses/BlackChariot.png" />
    <img class="chess black elephant 1" src="/image/Chesses/BlackElephant.png" />
    <img class="chess black elephant 2" src="/image/Chesses/BlackElephant.png" />
    <img class="chess black general 1" src="/image/Chesses/BlackGeneral.png" />
    <img class="chess black horse 1" src="/image/Chesses/BlackHorse.png" />
    <img class="chess black horse 2" src="/image/Chesses/BlackHorse.png" />
    <img class="chess black soldier 1" src="/image/Chesses/BlackSoldier.png" />
    <img class="chess black soldier 2" src="/image/Chesses/BlackSoldier.png" />
    <img class="chess black soldier 3" src="/image/Chesses/BlackSoldier.png" />
    <img class="chess black soldier 4" src="/image/Chesses/BlackSoldier.png" />
    <img class="chess black soldier 5" src="/image/Chesses/BlackSoldier.png" />

    @*Red chesses*@
    <img class="chess red advisor 1" src="/image/Chesses/RedAdvisor.png" />
    <img class="chess red advisor 2" src="/image/Chesses/RedAdvisor.png" />
    <img class="chess red cannon 1" src="/image/Chesses/RedCannon.png" />
    <img class="chess red cannon 2" src="/image/Chesses/RedCannon.png" />
    <img class="chess red chariot 1" src="/image/Chesses/RedChariot.png" />
    <img class="chess red chariot 2" src="/image/Chesses/RedChariot.png" />
    <img class="chess red elephant 1" src="/image/Chesses/RedElephant.png" />
    <img class="chess red elephant 2" src="/image/Chesses/RedElephant.png" />
    <img class="chess red general 1" src="/image/Chesses/RedGeneral.png" />
    <img class="chess red horse 1" src="/image/Chesses/RedHorse.png" />
    <img class="chess red horse 2" src="/image/Chesses/RedHorse.png" />
    <img class="chess red soldier 1" src="/image/Chesses/RedSoldier.png" />
    <img class="chess red soldier 2" src="/image/Chesses/RedSoldier.png" />
    <img class="chess red soldier 3" src="/image/Chesses/RedSoldier.png" />
    <img class="chess red soldier 4" src="/image/Chesses/RedSoldier.png" />
    <img class="chess red soldier 5" src="/image/Chesses/RedSoldier.png" />
</div>
